<?xml version="1.0"?>

<model>
  <name>Nao RoboCup Type Zero</name>
  <version>1.0</version>
  <sdf version="1.5">nao_Type_0.sdf</sdf>

  <author>
    <name>Nima Shafii</name>
    <email>nima@ua.pt</email>
  </author>

  <description>
    Simspark NAO model, It is the first NAO robot model
    that has been used in simspark with the name of type_Zero.
  </description>
</model>
