<?xml version="1.0"?>

<model>
  <name>Nao robot</name>
  <version>1.0</version>
  <sdf version="1.5">nao_Type_0.sdf</sdf>

  <author>
    <name>Nima Shafii</name>
    <email>nima@ua.pt</email>
  </author>

  <description>
    A Simspark Nao model, using the Aldebaran 
    NAO model in nao_simple_shapes.sdf
  </description>
</model>
